
{% extends 'base.html' %}
{% block body %}

<div class="container">

    <div class="row">

        <div class="col-md-6">
             <img src="{{movie.img.url}}" width="250px" height="250px">
        </div>
    <div class="col-md-6">
    <h3>{{movie.name}}</h3>
    <b><p><u>Description :</u>{{movie.desc}}</p></b>
    <h6>Year :{{movie.year}}<br><br>
    <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a>


    </div>
    </div>
</div>
{% endblock %}